<div class="col-6 action" (click)="quote.upvotes = quote.upvotes + 1">
<p><strong> Posted by:  </strong>{{quote.name}}</p>
<p><strong> Author:  </strong>{{quote.author}}</p>
<p><strong> Upvotes:  </strong>{{quote.upvotes}}</p>
<p><strong> Downvotes:  </strong>{{quote.downvotes}}</p>
<p><strong> Modified :</strong>{{quote.date|dateCount}} hours ago</p>

  <div class="row">
    <div class="col-3 action" (click)="quote.upvotes = quote.upvotes + 1">
        <button type="submit"><i class="fa fa-thumbs-up"></i></button>
    </div>
    <div class="col-3 action" (click)="quote.downvotes = quote.downvotes + 1">
      <button type="submit"><i class="fa fa-thumbs-down"></i></button>
    </div>

<button class="btn btn-danger" (click) = 'quoteDelete(true)'> Delete Quote </button>
</div>


